<div class="content">
  <div class="container search">
    <div class="form-group" [formGroup]="formSearch">
      <input type="text" class="form-control icon" style="float: left; width: 330px;" placeholder="&#xf002; Enter job title, position" formControlName="search">

      <select class="form-control icon" style="float: left;width: 330px; margin-left: 10px;" formControlName="cate">
        <option>All category</option>
        <option *ngFor="let category of categories">{{category.name}}</option>
      </select>

      <select class="form-control icon" style="float: left;width: 330px; margin-left: 10px;" formControlName="loca">
        <option value="All Location">All Location</option>
        <option *ngFor="let loca of location">{{loca}}</option>
      </select>

      <button type="submit" (click)="onSubmitForm()" class="btn btn-warning col-md-1" style="float: left; margin-left: 10px;">Find Job</button>
    </div>

  </div>

  <br>
  <br>

  <!-- <br>
  <pre>{{ formSearch.value | json }}</pre> -->

  <div class="container info">
    <span *ngIf="jobs?.length < 1">{{allJobs.length}} JOBS FOUND</span>
    <span *ngIf="jobs?.length > 0">{{jobs.length}} JOBS FOUND</span>
    <span style="float: right; margin-left: 10px;" *ngIf="jobUser?.length > 0">{{jobUser.length}} save jobs</span>
    <span style="float: right; margin-left: 10px;" *ngIf="jobUser?.length < 1">No save jobs</span>
    <span style="float: right; margin-top: -5px; ">
      <i class="fa fa-heart fa-2x" aria-hidden="true" style="color: orange"></i>
    </span>
  </div>

  <br>

  <div *ngIf="jobs?.length < 1">
  <div *ngFor="let job of allJobs; let i = index">  
    <div class="container detail" *ngIf="i<count">
      <div>
        <img src="assets/company.png" style="width: 150px; height:150px; background-color: white; margin-left: -15px; float:left">
        <div style="float: left; margin-left: 20px; margin-top: 10px; width: 82%">
          <a [routerLink]="['/detail', job._id]"><h4>
            <strong>{{job.title | uppercase}}</strong>
          </h4></a>
          <p>{{job.company | uppercase}} company</p>
          <p style="color: dodgerblue; margin-top: 35px; float: left;" *ngIf="isLogin">{{job.salary}} $</p>
          <p style="color: dodgerblue; margin-top: 35px; float: left;" *ngIf="!isLogin">Login to view salary</p>
          <p style="margin-top: 35px; float: left; padding-left: 5px;">| {{job.location}}</p>
          <p style="margin-top: 35px; float: left; padding-left: 5px;">| {{job.endDate}}</p>
          <a *ngIf="!isLogin" title="You should Log In to save job!">
            <span style="float: right; padding-top: 5px; padding-left: 5px;">SAVE</span>
            <span style="float: right;">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
            </span>
          </a>
          <a *ngIf="isLogin" title="Save job!" (click)="saveJob(job._id)">
            <span style="float: right; padding-top: 5px; padding-left: 5px;">SAVE</span>
            <span style="float: right;">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div *ngIf="jobs?.length > 0">
    <div *ngFor="let job of jobs; let i = index">
      <div class="container detail" *ngIf="i<count">
        <img src="assets/company.png" style="width: 150px; height:150px; background-color: white; margin-left: -15px; float:left">
        <div style="float: left; margin-left: 20px; margin-top: 10px; width: 82%">
          <a [routerLink]="['/detail', job._id]"><h4>
            <strong>{{job.title | uppercase}}</strong>
          </h4></a>
          <p>{{job.company | uppercase}} company</p>
          <p style="color: dodgerblue; margin-top: 35px; float: left;">Login to view salary</p>
          <p style="margin-top: 35px; float: left; padding-left: 5px;">| {{job.location}}</p>
          <a routerLink="#" *ngIf="!isLogin" title="You should Log In to save job!">
            <span style="float: right; padding-top: 5px; padding-left: 5px;">SAVE</span>
            <span style="float: right;">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
            </span>
          </a>
          <a routerLink="#" *ngIf="isLogin" title="Save job!">
            <span style="float: right; padding-top: 5px; padding-left: 5px;">SAVE</span>
            <span style="float: right;">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="container" align="center">
    <!-- <ul class="pagination pagination-lg">
      <li>
        <a routerLink="#" routerLinkActive="active">1</a>
      </li>
      <li>
        <a routeLink="#" routerLinkActive="active">2</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">3</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">4</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">5</a>
      </li>
    </ul> -->
    <button type="button" class="btn btn-warning" style="width: 50%" (click)="viewMore()">Click to have more job</button>
    <br><br>
  </div>

</div>