<div class=content>
  <div class="container search">
    <div class="form-group" [formGroup]="formSearch">
      <input type="text" class="form-control icon" style="width: 330px; float:left" placeholder="&#xf002; Enter job title, position" formControlName="search">

      <select class="form-control icon" style="width: 330px; float: left; margin-left: 10px;" formControlName="cate">
        <option>All category</option>
        <option *ngFor="let category of categories">{{category.name}}</option>
      </select>

      <select class="form-control icon" style="width: 330px; float: left; margin-left: 10px;" formControlName="loca">
        <option value="All Location">All Location</option>
        <option *ngFor="let loca of location">{{loca}}</option>
      </select>

      <button type="submit" (click)="onSubmitForm()" class="btn btn-warning" style="float: left; margin-left: 10px;">Find Job</button>
    </div>

  </div>

  <br>
  <br>

  <!-- <br>
  <pre>{{ formSearch.value | json }}</pre> -->

  <div class="container info">
    <span>1000 JOBS FOUND</span>
    <span style="float: right; margin-left: 10px;">No save jobs</span>
    <span style="float: right; margin-top: -5px; ">
      <i class="fa fa-heart fa-2x" aria-hidden="true" style="color: orange"></i>
    </span>
  </div>

  <br>

  <div class="container detail">
    <img src="assets/company.png" style="width: 150px; height:150px; background-color: white; margin-left: -15px; float:left">
    <div style="float: left; margin-left: 20px; margin-top: 10px; width: 82%">
      <a [routerLink]="['./detail']"><h4>
        <strong>Front-end HTML Coder / Front-end Developer</strong>
      </h4></a>
      <p>FOODCONNECTION Company</p>
      <p style="color: dodgerblue; margin-top: 35px; float: left;">Login to view salary</p>
      <p style="margin-top: 35px; float: left; padding-left: 5px;">| Location</p>
      <a routerLink="#" title="You should Log In to save job!">
        <span style="float: right; padding-top: 5px; padding-left: 5px;">SAVE</span>
        <span style="float: right;">
          <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="container detail">
      <img src="assets/company.png" style="width: 150px; height:150px; background-color: white; margin-left: -15px; float:left">
      <div style="float: left; margin-left: 20px; margin-top: 10px; width: 82%">
        <h4>
          <strong>Front-end HTML Coder / Front-end Developer</strong>
        </h4>
        <p>FOODCONNECTION Company</p>
        <p style="color: dodgerblue; margin-top: 35px; float: left;">Login to view salary</p>
        <p style="margin-top: 35px; float: left; padding-left: 5px;">| Location</p>
        <a routerLink="#" title="You should Log In to save job!">
          <span style="float: right; padding-top: 5px; padding-left: 5px;">SAVE</span>
          <span style="float: right;">
            <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="container detail">
        <img src="assets/company.png" style="width: 150px; height:150px; background-color: white; margin-left: -15px; float:left">
        <div style="float: left; margin-left: 20px; margin-top: 10px; width: 82%">
          <h4>
            <strong>Front-end HTML Coder / Front-end Developer</strong>
          </h4>
          <p>FOODCONNECTION Company</p>
          <p style="color: dodgerblue; margin-top: 35px; float: left;">Login to view salary</p>
          <p style="margin-top: 35px; float: left; padding-left: 5px;">| Location</p>
          <a routerLink="#" title="You should Log In to save job!">
            <span style="float: right; padding-top: 5px; padding-left: 5px;">SAVE</span>
            <span style="float: right;">
              <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </div>

  <br>
  <br>

  <div class="container" align="center">
    <ul class="pagination pagination-lg">
      <li>
        <a routerLink="#" routerLinkActive="active">1</a>
      </li>
      <li>
        <a routeLink="#" routerLinkActive="active">2</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">3</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">4</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">5</a>
      </li>
    </ul>
  </div>
</div>