<h3>EASY TO FIND YOUR DREAM JOBS</h3>

<div class="container">
  <div class="col-md-6 detail">
    <span>Title:</span>
    <input class="form-control" placeholder="Enter the dream job">
    <br>
    <span>Location:</span>
    <input class="form-control" placeholder="Enter location">
    <br>
    <span>Salary:</span>
    <input class="form-control" placeholder="Enter salary $">
    <br>
    <span>Category:</span>
    <select class="form-control">
      <option value="">Soft ware</option>
    </select>
    <br>
    <span>Company:</span>
    <input class="form-control" placeholder="Enter company">
    <br>
    <span>Something else:</span>
    <textarea class="form-control" rows="5" placeholder="Enter something"></textarea>
    <br>
    <button type="button" class="btn btn-success">FIND DREAM JOBS</button>
  </div>

  <div class="col-md-6">
    <div class="result row">
      <div class="col-md-3">
        <img src="assets/company.png" style="width: 80px; height: 80px;">
      </div>
      <div class="col-md-9">
        <p style="margin-top: 15px;"><strong>NODEJS</strong></p>
        <p><strong>50$ - <span>HCM</span></strong></p>
      </div>
    </div>

    <div class="result row">
        <div class="col-md-3">
          <img src="assets/company.png" style="width: 80px; height: 80px;">
        </div>
        <div class="col-md-9">
          <p style="margin-top: 15px;">NODEJS</p>
          <p>50$ - <span>HCM</span></p>
        </div>
      </div>

      <div class="result row">
          <div class="col-md-3">
            <img src="assets/company.png" style="width: 80px; height: 80px;">
          </div>
          <div class="col-md-9">
            <p style="margin-top: 15px;">NODEJS</p>
            <p>50$ - <span>HCM</span></p>
          </div>
        </div>
  </div>
</div>