<div class="info">
  <font size="4">
  <strong>
  <span style="float:left; color: white"><i class="fa fa-phone" aria-hidden="true"></i> HCM: </span>
  <span class="dt" style="float:left"> (84 28) 3925 8456</span> 
  </strong>
  </font> 

  <font size="4">
    <strong>
    <span style="float:left; color: white"><i class="fa fa-phone" aria-hidden="true"></i> HN: </span>
    <span class="dt" style="float:left"> (84 24) 3944 0568</span>
  </strong>
  </font> 

  <button  *ngIf="isSuccessSignin" style="margin-top: -10px; margin-left: 10px; border: 1px solid white;
  border-radius: 20px;" type="button" class="btn btn-info btn-lg" (click)="postJob()">POST JOB</button>
</div>
<h1 class="info2">
    Helping Your Business Move Up<br>
    Get Your Job Matched With The Right Candidate
</h1>



<div class="btnSignup">
    <!-- Trigger the modal with a button -->
    <button *ngIf="!isSuccessSignin" type="button" class="btn btn-info btn-lg" data-toggle="modal"
    data-target="#signupe">Sign Up</button>
  
    <!-- Modal signup -->
    <div class="modal fade" id="signupe" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Join Thousands Of Companies That Use VietnamWorks Every Day</h4>
            </div>
            <form [formGroup]="formSignupEmployer">
                <div class="modal-body"> 
                    <p *ngIf="isSuccessSignup === 0" class="text-warning">{{EMPLOYER_NOT_SIGNUP}}</p>
                    <p *ngIf="isSuccessSignup" class="text-success">{{EMPLOYER_SIGNUP_SUCCESS}}</p>
                    <p *ngIf="isSuccessSignup === false" class="text-danger">{{EMPLOYER_SIGNUP_ERROR}}</p>
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" formControlName="employerSignupName"
                        placeholder="example">
                    </div>
                    <div *ngIf="shouldShowNameEmployerSignUpWarming">
                        <p class="text-danger">{{VALIDATE_NAME}}</p>
                    </div>
                    <div class="form-group">
                        <label for="usr">Email:</label>
                        <input type="text" class="form-control" formControlName="employerSignupEmail"
                        placeholder="example@gmail.com">
                    </div>
                    <div *ngIf="shouldShowEmailEmployerSignUpWarming">
                        <p class="text-danger">{{VALIDATE_EMAIL}}</p>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" formControlName="employerSignupPassword"
                        placeholder="password">
                    </div>
                    <div *ngIf="shouldShowPasswordEmployerSignUpWarming">
                        <p class="text-danger">{{VALIDATE_PASSWORD}}</p>
                    </div>
                </div>
            </form> 
          <div class="modal-footer">
              <button type="button" class="btn btn-warning" style="width: 100%" (click)="employerSignup()"
              [disabled]="!formSignupEmployer.valid">Register</button>
              <br><br>
              <span>Already have an account?</span><span><a data-dismiss="modal" data-target="#signine"
                data-toggle="modal"> Sign In</a></span>
          </div>
        </div>
        
      </div>
    </div>
    
</div>

<div class="btnSignin">
      <!-- Trigger the modal with a button -->
      <button *ngIf="!isSuccessSignin" type="button" class="btn btn-info btn-lg" data-toggle="modal"
      data-target="#signine">Sign In</button>
  
      <!-- Modal signup -->
      <div class="modal fade" id="signine" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign In Now To Access Your Dashboard</h4>
              </div>
              <form [formGroup]="formSigninEmployer">
                <div class="modal-body">
                    <p *ngIf="isSuccessSignin === 0" class="text-warning">{{EMPLOYER_NOT_SIGNIN}}</p>
                    <p *ngIf="isSuccessSignin" class="text-success">{{EMPLOYER_SIGNIN_SUCCESS}}</p>
                    <p *ngIf="isSuccessSignin === false" class="text-danger">{{EMPLOYER_SIGNIN_ERROR}}</p> 
                    <div class="form-group">
                        <label for="usr">Email:</label>
                        <input type="text" class="form-control" formControlName="employerSigninEmail"
                        placeholder="example@gmail.com">
                    </div>
                    <div *ngIf="shouldShowEmailEmployerSignInWarming">
                        <p class="text-danger">{{VALIDATE_EMAIL}}</p>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" formControlName="employerSigninPassword"
                        placeholder="password">
                    </div>
                    <div *ngIf="shouldShowPasswordEmployerSignInWarming">
                        <p class="text-danger">{{VALIDATE_PASSWORD}}</p>
                    </div>
                </div>
             </form>
              <div class="modal-footer">
                  <button type="button" class="btn btn-warning" style="width: 100%" (click)="employerSignin()"
                  [disabled]="!formSigninEmployer.valid">Sign in</button>
                  <br><br>
                  <span>Don't have an account yet?</span><span><a data-dismiss="modal" data-target="#signupe"
                    data-toggle="modal" > Register now!</a></span>
              </div>
            </div>
            
          </div>
        </div>
      
    </div> 
  
    <div>
    </div>



<img src="assets/blue.jpg" alt="" style="width: 100%; height: 500px; margin-top: -50px;">
<div class="container" style="text-align: center">
  <hr>
  <font size="4">
    <span><strong>#1</strong> Professional Job Site</span>
    <span><strong>1.600</strong> Average Views Per Job Post</span>
    <span><strong>2,500,000</strong> Registered Jobseekers</span>
  </font>
  <hr>

  <h3>What Our Clients Say</h3>
  <p>Don't Take Our Word For It, Take Theirs</p>
  <br>

  <h3>Our Promise</h3>
  <p>Your Satisfaction Guaranteed or your job will be re-posted FREE of charge</p>
  <img src="assets/gua.jpg" alt=""><br><br>
  <p>Recruiting in Vietnam is challenging and we are here to support you. 
    If you are not 100% satisfied with VietnamWorks’s Job Post services, 
    you may contact our consultants dialing HCM: (84 28) 3925 8456 / HN: (84 24) 3944 0568 or
    writing to jobsupport@itjobs.com, 
    to request your FREE of charge re-post (excluding premium services) 
    within 10 business days after your paid job post has expired.
    The Program does not apply to re-posted jobs or free jobs post in promotion programs or 
    any kind of supported jobs post.</p>
</div>