<div id="outer" style="background-color: #42c2f4; height: 150px; width: 100%; margin-top: -20px;"></div>
<div class="content">
  <div class="container">
    <div class="title">
      <img src="assets/company.png" alt="" style="padding: 20px; float: left;">
      <div style="float: left; margin-top: 20px; width: 900px; height: 170px;">
        <h2>Java Developer (experience)</h2>
        <p>ARIS VIETNAM CO., LTD - HA NOI, HO CHI MINH</p>
        <p style="color:#33c3d6">Login to view salary</p>
        <button class="btn btn-warning btn-lg" style="float: right; margin-top: -80px;">Apply Now</button>
      </div>
    </div>

    <br>
    <br>

    <div class="detail">
      <div class="col-md-7">
        <h3>WHAT WE CAN OFFER</h3>
        <p>
          - Xét Lương & Thưởng: 2 lần (giữa năm và cuối năm)
          <br> - Bonus dự án
          <br> - Team Building Môi trường làm việc trẻ trung, năng động. Tham gia các khoá đào tạo Quản lý, Kỹ năng mềm Company
          Trip hàng năm (Đã đi: Côn Đảo, Phú Quốc, Sapa,..), Khám sức khoẻ ĐK tại Victoria HealthCare
          <br>
        </p>

        <br>
        <br>

        <h3>JOB DESCRIPTION</h3>
        <p>- Nghiên cứu các công nghệ mới và áp dụng vào các dự án của công ty. - Tham gia vào rất nhiều dự án với khách hàng
          Nhật bản, chủ yếu là các hệ thống Web, hệ thống quản lý với nền tảng JAVA và các nền tảng Open Source khác. - Tham
          gia vào tất cả các giai đoạn của một dự án như: lập kế hoạch, phân tích, thiết kế, thực thi, kiểm thử và triển
          khai cũng như bảo trì.
        </p>

        <br>
        <br>

        <h3>JOB REQUIREMENTS</h3>
        <p>
          - Có khả năng phân tích yêu cầu tốt. - Có kỹ năng tổng hợp thông tin và tạo báo cáo. - Có ít nhất 3 năm kinh nghiệm triển
          khai các dự án trên nền tảng Java - Có kinh nghiệm làm việc trên các FrameWork Struts, Spring, Ibatis, MyBatis,
          Hibernate. - Có khả năng làm việc tự chủ và kỹ năng làm việc theo nhóm. Khả năng nắm bắt, học hỏi kỹ thuật mới
          nhanh. - Có kiến thức và kinh nghiệm về HTML5/CSS3, Javascript, jQuery, Bootstrap - Sư dụng thành thạo hệ quản
          trị cơ sở dữ liệu MySQL, SQL Server, Oracle, Postgresql - Co kiến thức và king nghiệm về maven, gradle. - Có kiến
          thức về Apache Server, Apache Tomcat,...
        </p>
      </div>

      <div class="col-md-5" style="width: 400px; height: 500px; background-color: #F6FCFE; 
        border: 1px solid #86DEF7;
        padding: 20px;
        height: auto;
        overflow: hidden;
      ">
        <p>JOB CATEGORY</p>
        <p>IT - Software ,  IT - Hardware/Networking</p>
        <hr>
        <p>JOB CATEGORY</p>
        <p>IT - Software ,  IT - Hardware/Networking</p>
      </div>

    </div>
  </div>
  <br><br>
</div>