<div id="outer" style="background-color: #42c2f4; height: 150px; width: 100%; margin-top: -20px;"></div>
<div class="content">
  <div class="container">
    <div class="title">
      <img src="assets/company.png" alt="" style="padding: 20px; float: left;">
      <div style="float: left; margin-top: 20px; width: 900px; height: 170px;">
        <h2 *ngIf="job!==undefined">{{job.title | uppercase}}</h2>
        <p *ngIf="job!==undefined">{{job.company}} company - {{job.location}}</p>
        <p style="color: dodgerblue; margin-top: 0px; float: left;" *ngIf="isLogin && job!==undefined">{{job.salary}} $</p>
        <p style="color: dodgerblue; margin-top: 0px; float: left;" *ngIf="!isLogin">Login to view salary</p>
        <button [disabled]="!isLogin" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal" style="float: right; margin-top: -80px;">Apply Now</button>
      </div>
    </div>

    <br>
    <br>

    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" *ngIf="job!==undefined">APPLY FOR {{job.title | uppercase}} AT {{job.company | uppercase}} COMPANY</h3>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="">Name:</label>
              <input type="text" class="form-control" autofocus placeholder="your name">
            </div>
            <div class="form-group">
              <label for="">Email:</label>
              <input type="email" class="form-control" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
              <label for="">What skills, work projects or achievements make you a strong candidate? (Recommended):</label>
              <textarea class="form-control" rows="5" placeholder="some text to introduce yourself"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Send my infomation</button>
        </div>
      </div>
      
    </div>
  </div>


    <div class="detail">
      <div class="col-md-7">
        <h3>WHAT WE CAN OFFER</h3>
        <p *ngIf="job!==undefined">
          {{job.detail.benefit}}
        </p>
        <p *ngIf="job===undefined">
          Benefit
        </p>


        <br>
        <br>

        <h3>JOB DESCRIPTION</h3>
        <p *ngIf="job!==undefined">
          {{job.detail.description}}
        </p>
        <p *ngIf="job===undefined">
          Description
        </p>

        <br>
        <br>

        <h3>JOB REQUIREMENTS</h3>
        <p *ngIf="job!==undefined">
          {{job.detail.requirement}}
        </p>
        <p *ngIf="job===undefined">
          Requirement
        </p>
      </div>

      <div class="col-md-5" style="width: 400px; height: 500px; background-color: #F6FCFE; 
        border: 1px solid #86DEF7;
        padding: 20px;
        height: auto;
        overflow: hidden;
      ">
        <p>JOB CATEGORY</p>
        <!-- <p *ngIf="(category | json) != '{}'">{{category.name}}</p> -->
        <p *ngIf="category!==undefined">{{category.name}}</p>
        <hr>
        <p>JOB CATEGORY</p>
        <p>IT - Software ,  IT - Hardware/Networking</p>
      </div>

    </div>
  </div>
  <br><br>
</div>